*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{


    --Primary-Red: hsl(0, 100%, 74%); 
    --Primary-Green: hsl(154, 59%, 51%);

    --Accent-Blue: hsl(248, 32%, 49%);

    --Neutral-Dark-Blue: hsl(249, 10%, 26%); 
    --Neutral-Grayish-Blue: hsl(246, 25%, 77%);

    --ff-body:'Poppins', sans-serif;
    --fw-regular:400;
    --fw-medium:500;
    --fw-semiBold:600;
    --fw-bold:700;
}
body{
    max-width: 100%;
    background-color: var(--Primary-Red) !important;
    background-image: url("/images/bg-intro-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.container{
    max-width: 100% !important;
    height: 100% !important;
}
.heading{
    max-width: 490px;
}
.title{
    font-size: 3rem;
    font-weight: var(--fw-bold);
    color: #ffffff;
}
.paragraph{
    color: #ffffff;
}
.Form{
    grid-row-gap: 1.5rem;
}
.headerOfTheFrom{
    background-color: var(--Accent-Blue);
        box-shadow: 1px 9px 2px -2px rgba(0, 0, 0, 0.5);
}
.headerOfTheFrom span:first-child{
    color: #ffffff;
    font-weight: var(--fw-semiBold);
    font-size: 1rem;
}
.headerOfTheFrom span:last-child{
    color: var(--Neutral-Grayish-Blue);
    font-weight: var(--fw-regular);
}
.Form form{
    background-color: #fff;
    /* grid-row-gap: 1rem; */
}
.Form form input{
    padding: 20px 31px;
    color: var(--Neutral-Dark-Blue);
    font-weight: var(--fw-semiBold);
    position: relative;
}
.Form form input::after{
    content: "";
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
}
.Form form input::placeholder{
    font-weight: var(--fw-semiBold);
    color: var(--Neutral-Dark-Blue);
}
.Form form input:is(:focus,:hover){
    border: 1px solid var(--Neutral-Dark-Blue);
    box-shadow: none !important;
}
.Form form input.warning{
    border: 1px solid var(--Primary-Red);
}
.Form form .warning{
    /* display: block !important;    */
    margin-left: 0.8rem;
    color: var(--Primary-Red);
    font-weight: var(--fw-semiBold);
}
.Form form button[type='submit']{
    background-color: var(--Primary-Green);
    border: none;
    text-transform: uppercase;
    font-weight: var(--fw-semiBold);
    box-shadow: inset 0px -3px 0px 1px rgba(0,0,0,0.2);
}
.Form form button[type='submit']:is(:focus,:hover){
    border: none;
    outline: transparent;
    opacity: .6;
}
.Form form p{
    color: var(--Neutral-Grayish-Blue);
    margin-top: 1rem;
}
.Form form p>span{
    color: var(--Primary-Red);
    font-weight: var(--fw-semiBold);
}
@media screen and (min-width:375px) and (max-width:576px){
    .container{
        max-width: 100%;
        padding: 4rem 1rem;

    }
    .title{
        font-size: 1.6rem;
        text-align: center;
        margin-bottom: 1rem !important;
    }
    .paragraph{
        text-align: center;
    }
    .Form form{
        background-color: #fff;
        grid-row-gap: 0.3125rem;
        
    }
    .Form form input{
        padding: 1rem 1.9375rem;
    }
    .Form form p{
        text-align: center;
        margin-top: 1rem !important;
    }
}
@media screen and (min-width:577px) and (max-width:768px){
    .container{
        max-width: 100%;
        padding: 4rem 1rem;

    }
    .title{
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1rem !important;
    }
    .paragraph{
        text-align: center;
    }
    .Form form{
        background-color: #fff;
        grid-row-gap: 0.3125rem;
        
    }
    .Form form input{
        padding: 1rem 1.9375rem;
    }
    .Form form p{
        text-align: center;
        margin-top: 1rem !important;
    }

}
@media screen and (min-width:769px) and (max-width:992px){
    .container{
        max-width: 100%;
        padding: 4rem 1rem;

    }
    .title{
        font-size: 3rem !important;
        text-align: center;
        margin-bottom: 1rem !important;
    }
    .paragraph{
        text-align: center;
    }
    .Form form{
        background-color: #fff;
        grid-row-gap: 0.3125rem;
        
    }
    .Form form input{
        padding: 1rem 1.9375rem;
    }
    .Form form p{
        text-align: center;
        margin-top: 1rem !important;
    }

}